$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

@mixin _breakpoint_sm {
  @media (min-width: $sm) {
    @content;
  }
}

@mixin _breakpoint_md {
  @media (min-width: $md) {
    @content;
  }
}
@mixin _breakpoint_lg {
  @media (min-width: $lg) {
    @content;
  }
}
@mixin _breakpoint_xl {
  @media (min-width: $xl) {
    @content;
  }
}
@mixin _breakpoint_xxl {
  @media (min-width: $xxl) {
    @content;
  }
}